### Feature Engineering

In [1]:
## Load Dataset

import pandas as pd
import numpy as np

df = pd.read_csv("D:\Hip-Replacement-EffiCare\cleaned_hip_replacement_data.csv")

<>:6: SyntaxWarning: invalid escape sequence '\H'
<>:6: SyntaxWarning: invalid escape sequence '\H'
C:\Users\SUKANTA\AppData\Local\Temp\ipykernel_13216\3728912495.py:6: SyntaxWarning: invalid escape sequence '\H'
  df = pd.read_csv("D:\Hip-Replacement-EffiCare\cleaned_hip_replacement_data.csv")

In [2]:
df.head()

,operating_certificate_number,facility_id,zip_code_3_digits,length_of_stay,type_of_admission,patient_disposition,discharge_year,ccs_diagnosis_code,ccs_diagnosis_description,ccs_procedure_code,...,health_service_area_finger lakes,health_service_area_hudson valley,health_service_area_long island,health_service_area_new york city,health_service_area_southern tier,health_service_area_western ny,age_group_18 to 29,age_group_30 to 49,age_group_50 to 69,age_group_70 or older
0,228000,39,148,4.5,elective,hosp basd medicare approved swing bed,2016,203,osteoarthritis,153,...,False,False,False,False,False,True,False,False,False,True
1,228000,39,148,4.0,elective,home or self care,2016,203,osteoarthritis,153,...,False,False,False,False,False,True,False,False,True,False
2,228000,39,147,3.0,elective,home or self care,2016,203,osteoarthritis,153,...,False,False,False,False,False,True,False,False,True,False
3,228000,39,147,3.0,elective,hosp basd medicare approved swing bed,2016,203,osteoarthritis,153,...,False,False,False,False,False,True,False,False,True,False
4,228000,39,148,2.0,elective,home or self care,2016,237,complication of device; implant or graft,153,...,False,False,False,False,False,True,False,False,True,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26594 entries, 0 to 26593
Columns: 242 entries, operating_certificate_number to age_group_70 or older
dtypes: bool(216), float64(5), int64(11), object(10)
memory usage: 10.8+ MB

In [ ]:
df.sum().isnull()

operating_certificate_number      False
facility_id                       False
zip_code_3_digits                 False
length_of_stay                    False
type_of_admission                 False
                                  ...
health_service_area_western ny    False
age_group_18 to 29                False
age_group_30 to 49                False
age_group_50 to 69                False
age_group_70 or older             False
Length: 242, dtype: bool

In [6]:
df.describe()

,operating_certificate_number,facility_id,length_of_stay,discharge_year,ccs_diagnosis_code,ccs_procedure_code,apr_drg_code,apr_mdc_code,apr_severity_of_illness_code,attending_provider_license_number,operating_provider_license_number,total_charges,total_costs,charge_to_cost_ratio,efficiency_index,apr_severity_encode
count,2.659400e+04,26594.000000,26594.000000,26594.0,26594.000000,26594.000000,26594.0,26594.0,26594.000000,2.659400e+04,2.659400e+04,26594.000000,26594.000000,26594.000000,26594.000000,26594.000000
mean,4.460325e+06,903.070053,2.461175,2016.0,205.155110,153.157216,301.0,8.0,1.607054,5.101175e+05,4.737466e+05,57650.897837,20987.197569,2.817149,0.000136,1.607054
std,2.394598e+06,583.956335,1.027224,0.0,11.185498,2.895358,0.0,0.0,0.591931,5.099107e+06,4.862939e+06,30166.569929,13307.446913,0.838620,0.000334,0.591931
min,1.010000e+05,1.000000,1.000000,2016.0,1.000000,58.000000,301.0,8.0,1.000000,4.125000e+03,9.238200e+04,321.000000,64.450000,0.190877,0.000007,1.000000
25%,2.701003e+06,411.000000,2.000000,2016.0,203.000000,153.000000,301.0,8.0,1.000000,1.702540e+05,1.702540e+05,32204.585000,13611.787500,2.287181,0.000088,1.000000
50%,4.601001e+06,829.000000,2.000000,2016.0,203.000000,153.000000,301.0,8.0,2.000000,2.069400e+05,2.069400e+05,51675.905000,18608.255000,2.754183,0.000122,2.000000
75%,7.002012e+06,1447.000000,3.000000,2016.0,203.000000,153.000000,301.0,8.0,2.000000,2.473050e+05,2.451360e+05,71873.372500,24114.280000,3.208556,0.000171,2.000000
max,7.004010e+06,3376.000000,4.500000,2016.0,238.000000,231.000000,301.0,8.0,4.000000,9.033265e+07,9.063684e+07,131376.553750,688280.050000,7.106284,0.051247,4.000000

In [7]:
df.shape

(26594, 242)

In [8]:
## define target and problem type

target = "length_of_stay"

In [9]:
X = df.drop(columns = [target])
y = df[target]

In [10]:
## The objective is to predict length of hospital stay, making this a regression problem

In [13]:
## Identify Feature Types

numerical_cols = X.select_dtypes(include=['int64','float64']).columns
categorical_cols = X.select_dtypes(include=['object','bool']).columns

print("numerical:",len(numerical_cols))
print("categorical:",len(categorical_cols))

numerical: 15
categorical: 226

In [14]:
## Features were categorized to apply appropriate transformations and scaling techniques.

In [15]:
## remove irrelevant / ID cols

drop_cols = ['operating_certificate_number', 'facility_id']
df.drop(columns=drop_cols, inplace=True, errors='ignore')

In [16]:
## Identifier columns do not add predictive values and may cause data leakage.

In [19]:
## Handle multicollinearity

numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

id_cols = ['facility_id', 'operating_certificate_number']
numerical_cols = numerical_cols.drop([col for col in id_cols if col in numerical_cols])

corr = df[numerical_cols].corr().abs()
upper = corr.where(np.triu(np.ones(corr.shape),k=1).astype(bool))

high_corr_cols = [col for col in upper.columns if any(upper[col] > 0.85)]
df.drop(columns=high_corr_cols, inplace=True)

In [20]:
## Highly correlated features were removed to reduce redundancy.

In [21]:
## Feature Importance (Selection)

from sklearn.ensemble import RandomForestRegressor

X = df.drop(columns=[target])
y = df[target]

rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X.select_dtypes(include=['int64','float64']),y)

importance = pd.Series(
    rf.feature_importances_,
    index = X.select_dtypes(include=['int64','float64']).columns
).sort_values(ascending=False)

importance.head(10)

efficiency_index                     0.601881
total_costs                          0.394746
apr_severity_of_illness_code         0.001765
total_charges                        0.000856
charge_to_cost_ratio                 0.000394
ccs_diagnosis_code                   0.000123
attending_provider_license_number    0.000108
operating_provider_license_number    0.000094
ccs_procedure_code                   0.000032
discharge_year                       0.000000
dtype: float64

In [22]:
## Feature importance helped identify the most influential predictors of length of stay.

In [50]:
## Create New Features

# Age severity score 
df['age_score'] = (
    df['age_group_18 to 29'] * 1 +
    df['age_group_30 to 49'] * 2 +
    df['age_group_50 to 69'] * 3 +
    df['age_group_70 or older'] * 4
)

# risk score
df['risk_score'] = (
    df['age_score'] * 0.5 +
    df['mortality_score'] * 0.5
)

# A composite risk score was created to summarize patient health severity.

# Length of Stay Category

df['los_category'] = pd.cut(
    df['length_of_stay'],
    bins=[0,2,5,10,50],
    labels=['Short','Medium','Long','Very Long']
)

In [39]:
## Feature Transformation

df['log_length_of_stay'] = np.log1p(df['length_of_stay'])

In [40]:
## Log transformation reduces skewness and improves model stability.

In [41]:
## Encode Categorical Variables

df = pd.get_dummies(df, drop_first=True)

# Categorical variables were converted into numerical format using one-hot encoding.

In [42]:
## Feature Scaling

from sklearn.preprocessing import RobustScaler

num_cols = df.select_dtypes(include=['int64','float64']).columns
scaler = RobustScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

c:\Users\SUKANTA\anaconda3\Lib\site-packages\numpy\lib\nanfunctions.py:1217: RuntimeWarning: All-NaN slice encountered
  return function_base._ureduce(a, func=_nanmedian, keepdims=keepdims,
c:\Users\SUKANTA\anaconda3\Lib\site-packages\numpy\lib\nanfunctions.py:1384: RuntimeWarning: All-NaN slice encountered
  return _nanquantile_unchecked(

In [43]:
## RobustScaler was chosen to handle outliers common in healthcare data.

In [48]:
df['mortality_score'] = (
    df['apr_risk_of_mortality_minor'] * 1 +
    df['apr_risk_of_mortality_moderate'] * 2 +
    df['apr_risk_of_mortality_major'] * 3
)

In [49]:
df['mortality_score'].isna().sum()

0

In [55]:
los_map = {
    'Short': 1,
    'Medium': 2,
    'Long': 3,
    'Very Long': 4
}

df['los_category_encoded'] = df['los_category'].map(los_map)

In [56]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')  # median works well for ordinal
df['los_category_encoded'] = imputer.fit_transform(df[['los_category_encoded']])

In [57]:
X = df.drop(columns=['los_category'])  # drop original string column
X['los_category'] = df['los_category_encoded']  # add numeric version

In [59]:
## Feature Reduction

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

pca = PCA(n_components=0.95, random_state=42)
X_pca = pca.fit_transform(X_scaled)

# PCA reduced dimensionality while preserving 95% of variance.

In [60]:
## Final Dataset Creation

final_df = pd.concat(
    [pd.DataFrame(X_pca), y.reset_index(drop=True)],
    axis=1
)

In [61]:
final_df.to_csv("final_feature_engineered_dataset.csv", index=False)

In [1]:
# FEATURE SELECTION: MUTUAL INFORMATION

import pandas as pd
from sklearn.feature_selection import mutual_info_regression
from sklearn.preprocessing import LabelEncoder

# Load cleaned dataset
df = pd.read_csv("cleaned_hip_replacement_data.csv")

# Define target variable
target = "length_of_stay"
X = df.drop(columns=[target])
y = df[target]

# Identify categorical and numerical columns
categorical_cols = X.select_dtypes(include=["object", "bool"]).columns
numerical_cols = X.select_dtypes(include=["int64", "float64"]).columns

# Encode categorical variables
X_encoded = X.copy()
encoder = LabelEncoder()

for col in categorical_cols:
    X_encoded[col] = encoder.fit_transform(X_encoded[col].astype(str))

# Calculate Mutual Information scores
mi_scores = mutual_info_regression(X_encoded, y, random_state=42)

# Create MI score dataframe
mi_df = pd.DataFrame({
    "Feature": X_encoded.columns,
    "MI_Score": mi_scores
}).sort_values(by="MI_Score", ascending=False)

# Display top important features
print("Top 15 Features based on Mutual Information:")
mi_df.head(15)

Top 15 Features based on Mutual Information:

                                 Feature  MI_Score
23                      efficiency_index  0.304572
19     operating_provider_license_number  0.258673
18     attending_provider_license_number  0.246408
1                            facility_id  0.185271
0           operating_certificate_number  0.165724
21                           total_costs  0.154077
22                  charge_to_cost_ratio  0.137544
20                         total_charges  0.130398
4                    patient_disposition  0.103286
16                 apr_risk_of_mortality  0.049390
2                      zip_code_3_digits  0.038613
14          apr_severity_of_illness_code  0.034135
24                   apr_severity_encode  0.033063
15   apr_severity_of_illness_description  0.029946
239                   age_group_50 to 69  0.019755